<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net45" />
  <package id="EPPlus" version="4.5.1" targetFramework="net45" />
  <package id="imbSCI.Core.Standard" version="0.2.0.5" targetFramework="net45" />
  <package id="imbSCI.Data.Standard" version="0.2.0.3" targetFramework="net45" />
  <package id="imbSCI.DataComplex.Standard" version="0.2.0.5" targetFramework="net45" />
  <package id="imbSCI.Reporting.Standard" version="0.2.0.5" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.4.1" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net45" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net45" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net45" />
</packages>